# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net
# For build server .NET Core Tools version support see: https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  VSIXVERSION: 1.0.${{ github.run_number }}

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4 # https://github.com/marketplace/actions/checkout
      with:
        fetch-depth: 0 # required by MinVer to determine the version correctly
        
    - name: Setup .NET # https://github.com/marketplace/actions/setup-net-core-sdk
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1        
#      with:
#        vs-version: '[17.4,17.5)'
        
    - name: Restore dependencies
      run: dotnet restore EntityFrameworkRuler.CI.slnf --v:m
      
      
    - name: Test Build
      run: dotnet build EntityFrameworkRuler.CI.slnf --configuration Debug --no-restore --v:q
      # run: msbuild EntityFrameworkRuler.sln /property:Configuration=Debug /t:Rebuild /p:RestorePackages=false /consoleloggerparameters:ErrorsOnly -m      
      
    - name: Test Design
      run: dotnet test ./Tests/EntityFrameworkRuler.Design.Tests --no-build --v:m
    - name: Test CLI
      run: dotnet test ./Tests/EntityFrameworkRuler.Tests --no-build --v:m
        
    - name: Remove nupkg folder # https://github.com/marketplace/actions/remove-file
      uses: JesseTG/rm@v1.0.3
      with:
        path: ./nupkg
        
    - name: Release Build
      run: dotnet build .\EntityFrameworkRuler.CI.slnf --configuration Release --no-restore --v:q
      # run: msbuild EntityFrameworkRuler.sln /property:Configuration=Release /t:Rebuild /p:RestorePackages=false /consoleloggerparameters:ErrorsOnly -m
 
    
    - name: Create NuGet packages
      run: dotnet pack --configuration Release --no-build --no-restore .\EntityFrameworkRuler.CI.slnf --property:PackageOutputPath="${{ github.workspace }}\nupkg"
      # note, output no longer supported as of 7.0.200. but reduced to warning in 7.0.201
      
    - name: Publish Packages to NuGet 
      run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{ secrets.NUGET_TOKEN }}
      working-directory: nupkg
 
    - name: Set VSIX Version ${{ env.VSIXVERSION }}
      uses: cezarypiatek/VsixVersionAction@1.0
      with:
        version: ${{ env.VSIXVERSION }}
        vsix-manifest-file: 'src/EntityFrameworkRuler.Vsix/source.extension.vsixmanifest'

    - name: Restore VSIX Project
      run: msbuild /t:restore EntityFrameworkRuler.Vsix.csproj /verbosity:minimal
      working-directory: src/EntityFrameworkRuler.Vsix
      
    - name: Build VSIX
      run: msbuild src/EntityFrameworkRuler.Vsix/EntityFrameworkRuler.Vsix.csproj /property:Configuration=ReleaseVsix /p:RestorePackages=True /p:DeployExtension=False /verbosity:minimal /consoleloggerparameters:ErrorsOnly -m
 
    - name: Move VSIX
      run: mv src/EntityFrameworkRuler.Vsix/bin/Release/EntityFrameworkRuler.Vsix.vsix EntityFrameworkRuler${{ env.VSIXVERSION }}.vsix
        
    - name: Publish VSIX artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Vsix-Artifacts
        path: |
          *.vsix
          docs/Vsix.md
          
      # https://github.com/marketplace/actions/vsix-publisher
    - name: Publish VSIX to Marketplace
      uses: cezarypiatek/VsixPublisherAction@0.2
      with:
        extension-file: 'EntityFrameworkRuler${{ env.VSIXVERSION }}.vsix'
        publish-manifest-file: 'src/EntityFrameworkRuler.Vsix/PublishManifest.json'
        personal-access-code: ${{ secrets.VSIX_TOKEN }}      
